%nav.navbar.navbar-light.bg-light.py-3
  .container.p-15
    %span.navbar-text{:style => "font-size: 20px; color: Black"}
      %strong
        %a.text-black{href: root_path}THE ROUND TABLE

    %span.navbar-text.ml-auto.p-2
    %a.btn.btn-outline-dark.my-2.amy-lg-0.mx-2{href: arguments_path} Arguments
    - if current_user
      %a.btn.btn-outline-dark.my-2.amy-lg-0{href: destroy_user_session_path} Sign Out
    - else 
      %a.btn.btn-outline-dark.my-2.amy-lg-0{href: new_user_session_path} Sign In
      