/ %h2 New Argument
/ = render 'form', argument: @argument


/ =render 'nav'


=render 'nav'
%html
  %head
    %title Arguments index
    %link{:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/

%body{:style => "height: 100vh; background-color: white"}
  .container.h-100.text-black.p-15.align-items-center
    .row
      .col-4
      .col-4.align-self-center.p-5
        .container
          %h2.text-center New Argument
          = render 'form', argument: @argument
      .col-4